# Git related
.git
.gitignore

# Build & dependency files
out
dist
node_modules

# Cache files & temp files
tmp
temp
*.tsbuildinfo
*.log
coverage

# Garbage files
.DS_Store

# IDE related
.vscode
.idea

# Docker related
**/Dockerfile
compose.yml

# Environment files
.env*
.env
*.env
